
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/stylecadastro.css" media="screen" />
</head>
<body>


<section class="tudo">

<div class="login-root">
      <div class="loginbackground box-background--white padding-top--64">
            <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
            </div>
        
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <div class="box-root padding-top--48  flex-flex flex-justifyContent--center">
          <h1><a href="#" rel="dofollow">Cadastre-se</a></h1>
        </div>



              <form id="stripe-login" method="post" action="/pessoas/criar">
                <div class="field padding-bottom--24">
                    
                        <label id="nome" for="text">Nome</label>
                        <input id="nome" name="nome" type="text">
                </div>
                <div class="field padding-bottom--24">


                  <label id="sobrenome" for="text" >Sobrenome</label>
              <input id="sobrenome" name="sobrenome" type="text">

                </div>

                <div class="field padding-bottom--24">


                    <label id="altura" for="text">altura</label>
              <input id="altura" name="altura" type="text">
  
                  </div>

                  <div class="field padding-bottom--24">


                    <label id="idade" for="text">idade</label>
              <input id="idade" name="idade" type="number">
  
                  </div>


                <div class="field padding-bottom--24">
                    <input type="submit" value="ENVIAR"> 
                    <button><a href="/pessoas">Listagem</a></button>
                  </div>


              </form>



                    </div>
                </div>
            </div>
        </div>
        </section>
    </body>
</html>


